In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cairns.csv')
df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,MERCHANT,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2023-01-02,2023-01-18,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Rebecca Meyer,NaN,kbzbofm9lank,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,91629f88-960f-4f7c-9613-fbf80e62238b
1,2023-01-02,2023-01-18,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Maria Grimaldi,NaN,xid7wdy0nmwn,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,6b635e3d-e1dd-4fed-a51c-05faaabae5f5
2,2023-01-02,2023-01-16,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Marc Rogers,NaN,787mutujzbwe,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,a4950a2a-bb4f-48a6-8258-274a60d4f1a6
3,2023-01-02,2023-01-16,Fixed,Cancelled,Visa,ZeroW Cairns PTY LTD,Kelsea Taylor,NaN,qx7u6ez29vic,0.0,NaN,56.0,2023-03-30,2023-04-11,2023-01-19,2023-03-30,336.0,336.0,0.0,762e50b7-efe6-4f15-877d-4fc0bfac9f41
4,2023-01-02,2023-01-16,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Kayla McLeish,NaN,0ax1l1hugb9l,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,25d5f75c-2b87-460e-9a51-68e02675bbdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,2024-08-18,2024-08-26,Recurring,In Transit,Mastercard,ZeroW Cairns PTY LTD,Gavin Harris,NaN,D5UJ2vCCkFjngv,99.0,2024-08-28,0.0,NaN,NaN,2024-08-28,2025-01-29,1188.0,0.0,1188.0,53403c2c-5b76-11ef-87de-16edd30aad39
491,2024-08-19,2024-08-19,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Liam Davern,NaN,BSIYHf2elebiHt,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,ad3979ce-5df5-11ef-bb77-7a69f67e325b
492,2024-08-20,2024-08-20,Recurring,Active,Visa,ZeroW Cairns PTY LTD,Callum Mclachlan,NaN,fW1ZNrNiQpz3kD,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,8e7bdb50-5ec0-11ef-bb42-82a2d8c5b689
493,2024-08-20,2024-08-20,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Ryan Thompson,NaN,F4hzwYUlUsVidW,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-20,2024-11-06,420.0,35.0,385.0,a6f764b6-5ec4-11ef-bab2-b24bec18760a
494,2024-08-20,2024-08-21,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Kelsey Cheetham,NaN,dIqrGoB7srnEmg,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,3e95fc90-5eae-11ef-b49a-82a2d8c5b689

In [3]:
filtered_df = df[~df['STATUS'].isin(['Cancelled', 'Paused', 'One-off', 'Fixed'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,MERCHANT,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2023-01-02,2023-01-18,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Rebecca Meyer,NaN,kbzbofm9lank,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,91629f88-960f-4f7c-9613-fbf80e62238b
1,2023-01-02,2023-01-18,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Maria Grimaldi,NaN,xid7wdy0nmwn,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,6b635e3d-e1dd-4fed-a51c-05faaabae5f5
2,2023-01-02,2023-01-16,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Marc Rogers,NaN,787mutujzbwe,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,a4950a2a-bb4f-48a6-8258-274a60d4f1a6
4,2023-01-02,2023-01-16,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Kayla McLeish,NaN,0ax1l1hugb9l,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,25d5f75c-2b87-460e-9a51-68e02675bbdf
6,2023-01-02,2023-01-16,Fixed,Complete,Mastercard,ZeroW Cairns PTY LTD,Merenia Waaka,NaN,elmmlzhnuos6,0.0,NaN,28.0,2023-04-05,NaN,2023-01-18,2023-04-05,336.0,336.0,0.0,09fd9087-01f0-431b-9971-bdcc169e4c41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,2024-08-18,2024-08-26,Recurring,In Transit,Mastercard,ZeroW Cairns PTY LTD,Gavin Harris,NaN,D5UJ2vCCkFjngv,99.0,2024-08-28,0.0,NaN,NaN,2024-08-28,2025-01-29,1188.0,0.0,1188.0,53403c2c-5b76-11ef-87de-16edd30aad39
491,2024-08-19,2024-08-19,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Liam Davern,NaN,BSIYHf2elebiHt,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,ad3979ce-5df5-11ef-bb77-7a69f67e325b
492,2024-08-20,2024-08-20,Recurring,Active,Visa,ZeroW Cairns PTY LTD,Callum Mclachlan,NaN,fW1ZNrNiQpz3kD,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,8e7bdb50-5ec0-11ef-bb42-82a2d8c5b689
493,2024-08-20,2024-08-20,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Ryan Thompson,NaN,F4hzwYUlUsVidW,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-20,2024-11-06,420.0,35.0,385.0,a6f764b6-5ec4-11ef-bab2-b24bec18760a
494,2024-08-20,2024-08-21,Recurring,Active,Mastercard,ZeroW Cairns PTY LTD,Kelsey Cheetham,NaN,dIqrGoB7srnEmg,35.0,2024-08-28,35.0,2024-08-21,NaN,2024-08-21,2024-11-06,420.0,35.0,385.0,3e95fc90-5eae-11ef-b49a-82a2d8c5b689

In [4]:
result_df = filtered_df.groupby('CUSTOMER')[['NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING']].sum()
result_df

,NEXT_PAYMENT,LAST_PAYMENT,TOTAL_VALUE,PAID,REMAINING
CUSTOMER,,,,,
Aidan Day,35.0,63.0,3136.0,2751.0,385.0
Aimee Pike,99.0,99.0,1485.0,396.0,1089.0
Akiko Bourchier,35.0,35.0,595.0,210.0,385.0
Albert O'Shannessy,0.0,28.0,336.0,336.0,0.0
Amelia Rose Hughes,0.0,20.0,240.0,240.0,0.0
...,...,...,...,...,...
Tennille Falappi,35.0,35.0,595.0,210.0,385.0
Thiago Montenegro Caram,35.0,35.0,455.0,70.0,385.0
Vanessa Hoedlmayr,0.0,28.0,336.0,336.0,0.0
Vera Normington,67.0,120.6,6271.2,5534.2,737.0
Vicki Pates,30.0,30.0,2430.0,2100.0,330.0

In [5]:
result_df.index.nunique()

181

In [6]:
with pd.ExcelWriter('cairns.xlsx') as writer:
    df.to_excel(writer, sheet_name='original data')
    filtered_df.to_excel(writer, sheet_name='total payments')
    result_df.to_excel(writer, sheet_name='unique members')