In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('gold_coast.csv')
df

,customer_name,customer_email,phoneNumber,plan.interval,created,current_period_start,status
0,Helaman Puletama,helamansp312@gmail.com,61411635983,Standard Memberhip,"Aug 30, 2024","Aug 30, 2024",active
1,Simon Harrington,simonh1066@gmail.com,61421332211,Standard Memberhip,"Aug 29, 2024","Aug 29, 2024",active
2,Natt B,nattberkhout@hotmail.com,61439851016,Standard Memberhip,"Aug 25, 2024","Sep 1, 2024",active
3,Joy Lalahi,joylalahi@gmail.com,64220344564,Standard Memberhip,"Aug 23, 2024","Aug 23, 2024",canceled
4,Sailor Boonkan,sailor0ak@icloud.com,61403506008,Standard Memberhip,"Aug 12, 2024","Aug 26, 2024",active
...,...,...,...,...,...,...,...
175,Jude Rusga,juderusgayt@gmail.com,61488673911,Standard Memberhip,"Dec 12, 2023","Dec 26, 2023",canceled
176,Bridget Murphy,gidge1986@gmail.com,61411359946,Standard Memberhip,"Dec 12, 2023","Aug 27, 2024",active
177,Bri Bradfield,offseasoncoachlb@gmail.com,61447153068,Standard Memberhip,"Dec 12, 2023","Mar 5, 2024",canceled
178,Liam Kinzett,liamkinz@hotmail.com,61424569523,Standard Memberhip,"Dec 12, 2023","Mar 5, 2024",canceled
179,James Hendry,james@zerow.com.au,61451664335,Standard Memberhip,"Dec 12, 2023","Aug 27, 2024",active

In [22]:
filtered_df = df[~df['status'].isin(['canceled', 'paused'])]
filtered_df

,customer_name,customer_email,phoneNumber,plan.interval,created,current_period_start,status
0,Helaman Puletama,helamansp312@gmail.com,61411635983,Standard Memberhip,"Aug 30, 2024","Aug 30, 2024",active
1,Simon Harrington,simonh1066@gmail.com,61421332211,Standard Memberhip,"Aug 29, 2024","Aug 29, 2024",active
2,Natt B,nattberkhout@hotmail.com,61439851016,Standard Memberhip,"Aug 25, 2024","Sep 1, 2024",active
4,Sailor Boonkan,sailor0ak@icloud.com,61403506008,Standard Memberhip,"Aug 12, 2024","Aug 26, 2024",active
5,Bailey Wilton,baileyalford0831@gmail.com,61487040625,Standard Memberhip,"Aug 9, 2024","Aug 30, 2024",active
...,...,...,...,...,...,...,...
169,Josh Dawson,josh6dawson@gmail.com,61433061510,Standard Memberhip,"Dec 13, 2023","Aug 28, 2024",active
173,Hudson Schultz,hudsoncschultz@gmail.com,61459390163,Standard Memberhip,"Dec 13, 2023","Aug 28, 2024",active
174,Troy Schultz,troydschultz@gmail.com,61474824332,Standard Memberhip,"Dec 13, 2023","Aug 28, 2024",active
176,Bridget Murphy,gidge1986@gmail.com,61411359946,Standard Memberhip,"Dec 12, 2023","Aug 27, 2024",active
179,James Hendry,james@zerow.com.au,61451664335,Standard Memberhip,"Dec 12, 2023","Aug 27, 2024",active

In [23]:
result_df = filtered_df.groupby('customer_name').sum()
result_df

,customer_email,phoneNumber,plan.interval,created,current_period_start,status
customer_name,,,,,,
Aaron Kuczynski,kuczynski.aaron@gmail.com,61476197927,Standard Memberhip,"Dec 22, 2023","Aug 30, 2024",active
Adam Bolton,adam.bolton@boltonfs.com.au,61433325382,Gold,"Jan 15, 2024","Aug 26, 2024",past_due
Adam Lam,adamklam@gmail.com,61404894918,Standard Memberhip,"Dec 21, 2023","Aug 29, 2024",active
Alesha S,aleshajstagg@gmail.com,61412666109,Standard Memberhip,"Jun 11, 2024","Aug 27, 2024",active
Alessandra Perry,ali.m.perry@gmail.com,61402847212,Standard Memberhip,"Jun 25, 2024","Aug 27, 2024",active
...,...,...,...,...,...,...
Troy Schultz,troydschultz@gmail.com,61474824332,Standard Memberhip,"Dec 13, 2023","Aug 28, 2024",active
Vincent Takataka,vincenttakataka316@gmail.com,61433933153,Standard Memberhip,"Jan 16, 2024","Aug 27, 2024",active
Will Koskela,willkoskela97@gmail.com,61449929177,Standard Memberhip,"Dec 27, 2023","Aug 28, 2024",active
Youre Awesome Matilde Newman,mindstertraining@gmail.com,61478044494,Silver,"Dec 27, 2023","Aug 28, 2024",active
Zion Hawes,zionhawes@hotmail.com,61434933919,Standard Memberhip,"Apr 4, 2024","Aug 29, 2024",active

In [24]:
# result_df = result_df[result_df['NEXT_PAYMENT'] != 0]
# result_df

In [25]:
result_df.index.nunique()

113

In [26]:
with pd.ExcelWriter('gold_coast.xlsx') as writer:
    df.to_excel(writer, sheet_name='Raw Data', index=False)
    filtered_df.to_excel(writer, sheet_name='Number of transactions', index=False)
    result_df.to_excel(writer, sheet_name='Unique Members', index=False)