In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('sunshine_coast.csv')
df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,MERCHANT,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
0,2024-06-15,2024-06-17,Recurring,Cancelled,Mastercard,ZeroW Sunshine Coast Pty Ltd,Andrew Taylor,NaN,eVRBJQ7BTdVr3x,0,NaN,28,2024-06-17,2024-06-21,2024-06-17,2024-06-17,28,28,0,8b5068f0-2aa5-11ef-9843-e20617382663
1,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Dan Hull,NaN,ucOMGvmae0FD4v,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,4a3167ba-2aab-11ef-9d2a-7e4f1f28ecbe
2,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Chris Marett,NaN,NMQWOrDLbhc2Zg,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,907594a4-2aaa-11ef-9d2a-7e4f1f28ecbe
3,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Mate Jones,NaN,oTGuRPEGoG1XcM,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,565577d0-2ab4-11ef-bae2-e20617382663
4,2024-06-15,2024-06-17,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Mackenzie Morcombe,NaN,Qxgg60pQjqmdLJ,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,a720274c-2ab3-11ef-adf1-e20617382663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-08-13,2024-08-14,Fixed,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Mandy Morgan,NaN,N2E9BUoFTn7pNs,35,2024-09-04,35,2024-08-28,NaN,2024-08-14,2024-09-18,210,105,105,22fb0c46-5927-11ef-9c93-8a0529f6fbaa
96,2024-08-23,2024-08-26,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Teale Ryan,NaN,gDLq98nCsrtMgz,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,90d40a12-60dc-11ef-8227-f689aeb6c360
97,2024-08-25,2024-08-26,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Clare Burns,NaN,PCwokgI0xNk1FJ,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,17b3bc3a-6137-11ef-b9e4-7e978eedc56e
98,2024-08-26,2024-08-26,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Danna Rankin,ZeroW Standard,nhvhToD7MZEseU,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,74467132-6370-11ef-932e-7e978eedc56e
99,2024-08-27,2024-08-27,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Storm Cherish Simpson,ZeroW Gold,gV6ldrCGXJWmVv,99,2024-09-10,99,2024-09-02,NaN,2024-08-27,2024-11-19,1287,198,1089,c8feb538-644a-11ef-aa77-f689aeb6c360

In [17]:
filtered_df = df[~df['STATUS'].isin(['Cancelled', 'Paused', 'One-off', 'Fixed'])]
filtered_df

,AGREED_DATE,START_DATE,TYPE,STATUS,METHOD,MERCHANT,CUSTOMER,REFERENCE,PAYMENT_REQUEST,NEXT_PAYMENT,NEXT_PAYMENT_ON,LAST_PAYMENT,LAST_PAYMENT_ON,CANCEL_DATE,COMMENCEMENT_DATE,COMPLETION_DATE,TOTAL_VALUE,PAID,REMAINING,AGREEMENT_ID
1,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Dan Hull,NaN,ucOMGvmae0FD4v,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,4a3167ba-2aab-11ef-9d2a-7e4f1f28ecbe
2,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Chris Marett,NaN,NMQWOrDLbhc2Zg,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,907594a4-2aaa-11ef-9d2a-7e4f1f28ecbe
3,2024-06-15,2024-06-17,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Mate Jones,NaN,oTGuRPEGoG1XcM,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,565577d0-2ab4-11ef-bae2-e20617382663
4,2024-06-15,2024-06-17,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Mackenzie Morcombe,NaN,Qxgg60pQjqmdLJ,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,a720274c-2ab3-11ef-adf1-e20617382663
5,2024-06-15,2024-06-17,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Mitch Bryan,NaN,8AJFqYKSmIMYxs,28,2024-09-02,28,2024-08-26,NaN,2024-06-17,2024-11-25,756,308,448,430b7b92-2ab5-11ef-a6f0-7e4f1f28ecbe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-08-13,2024-08-14,Fixed,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Mandy Morgan,NaN,N2E9BUoFTn7pNs,35,2024-09-04,35,2024-08-28,NaN,2024-08-14,2024-09-18,210,105,105,22fb0c46-5927-11ef-9c93-8a0529f6fbaa
96,2024-08-23,2024-08-26,Recurring,Active,Visa,ZeroW Sunshine Coast Pty Ltd,Teale Ryan,NaN,gDLq98nCsrtMgz,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,90d40a12-60dc-11ef-8227-f689aeb6c360
97,2024-08-25,2024-08-26,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Clare Burns,NaN,PCwokgI0xNk1FJ,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,17b3bc3a-6137-11ef-b9e4-7e978eedc56e
98,2024-08-26,2024-08-26,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Danna Rankin,ZeroW Standard,nhvhToD7MZEseU,35,2024-09-02,35,2024-08-26,NaN,2024-08-26,2024-11-11,420,35,385,74467132-6370-11ef-932e-7e978eedc56e
99,2024-08-27,2024-08-27,Recurring,Active,Mastercard,ZeroW Sunshine Coast Pty Ltd,Storm Cherish Simpson,ZeroW Gold,gV6ldrCGXJWmVv,99,2024-09-10,99,2024-09-02,NaN,2024-08-27,2024-11-19,1287,198,1089,c8feb538-644a-11ef-aa77-f689aeb6c360

In [18]:
result_df = filtered_df.groupby('CUSTOMER')[['NEXT_PAYMENT', 'LAST_PAYMENT', 'TOTAL_VALUE', 'PAID', 'REMAINING']].sum()
result_df

                 NEXT_PAYMENT  LAST_PAYMENT  TOTAL_VALUE  PAID  REMAINING
CUSTOMER
Alison  Bewley             28            28          756   308        448
Amanda Hocken              28            28          756   308        448
Andrew Taylor              80            80         2068   800       1268
Anna Goodman               28            28          756   308        448
Beth Burn                  80            80         2308   880       1428
...                       ...           ...          ...   ...        ...
Tiarni Cobern              28            28          756   308        448
Tristan Paul                0            20           20    20          0
Vince Wakefield            80            80         2068   800       1268
Will Glenn                 28            28          616   168        448
Yolanda  Fourie            80            80         2148   880       1268

[71 rows x 5 columns]

In [19]:
result_df = result_df[result_df['NEXT_PAYMENT'] != 0]
result_df

                 NEXT_PAYMENT  LAST_PAYMENT  TOTAL_VALUE  PAID  REMAINING
CUSTOMER
Alison  Bewley             28            28          756   308        448
Amanda Hocken              28            28          756   308        448
Andrew Taylor              80            80         2068   800       1268
Anna Goodman               28            28          756   308        448
Beth Burn                  80            80         2308   880       1428
...                       ...           ...          ...   ...        ...
Teale  Ryan               106           106         1982   816       1166
Tiarni Cobern              28            28          756   308        448
Vince Wakefield            80            80         2068   800       1268
Will Glenn                 28            28          616   168        448
Yolanda  Fourie            80            80         2148   880       1268

[70 rows x 5 columns]

In [20]:
result_df.index.nunique()

70

In [21]:
with pd.ExcelWriter('sunshine_coast.xlsx') as writer:
    df.to_excel(writer, sheet_name='raw_data')
    filtered_df.to_excel(writer, sheet_name='filtered_data')
    result_df.to_excel(writer, sheet_name='membership_analysis')