In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wales.csv')
df

,customer_name,customer_email,phoneNumber,plan.interval,created,current_period_start,status
0,Luke Ford,lford12@hotmail.co.uk,447852555923,Standard,"Aug 19, 2024","Aug 19, 2024",active
1,Leon Scammell,lscam1996@gmail.com,447494718878,Hybrid,"Aug 10, 2024","Aug 10, 2024",active
2,Dale Davies,ddaviesfitness@outlook.com,447791897657,Standard,"Aug 9, 2024","Aug 9, 2024",active
3,Advait Nair,advaitn4ir@gmail.com,447852303118,Standard,"Aug 7, 2024","Aug 7, 2024",active
4,Millie Mabbutt,millie.mabbutt7@gmail.com,447845693590,Standard,"Aug 1, 2024","Aug 1, 2024",active
...,...,...,...,...,...,...,...
138,Jack Browne,jkbrowne21@gmail.com,353851541914,Online Coaching - STANDARD,"Nov 29, 2023","Dec 29, 2023",canceled
139,Dan Jones,dan.jones_@outlook.com,447957641638,Online Coaching - STANDARD,"Nov 29, 2023","Jul 29, 2024",active
140,Marah Bahar,baharmarah@gmail.com,447568996487,Standard,"Nov 29, 2023","Jul 29, 2024",active
141,Dan Yuill,danyuill@icloud.com,447969100076,Standard,"Nov 29, 2023","Jan 29, 2024",canceled
142,Jordan Helyer,jordan.helyer@hotmail.com,447554447397,Standard,"Nov 29, 2023","Dec 5, 2023",canceled

In [3]:
filtered_df = df[~df['status'].isin(['canceled', 'paused'])]
filtered_df

,customer_name,customer_email,phoneNumber,plan.interval,created,current_period_start,status
0,Luke Ford,lford12@hotmail.co.uk,447852555923,Standard,"Aug 19, 2024","Aug 19, 2024",active
1,Leon Scammell,lscam1996@gmail.com,447494718878,Hybrid,"Aug 10, 2024","Aug 10, 2024",active
2,Dale Davies,ddaviesfitness@outlook.com,447791897657,Standard,"Aug 9, 2024","Aug 9, 2024",active
3,Advait Nair,advaitn4ir@gmail.com,447852303118,Standard,"Aug 7, 2024","Aug 7, 2024",active
4,Millie Mabbutt,millie.mabbutt7@gmail.com,447845693590,Standard,"Aug 1, 2024","Aug 1, 2024",active
...,...,...,...,...,...,...,...
135,Katie Adams,kladams04@gmail.com,447786322218,Platinum,"Nov 29, 2023","Jul 29, 2024",active
136,Adam Tossell,adamtossell@gmail.com,447769885801,Standard,"Nov 29, 2023","Jul 29, 2024",active
137,Brad Stubbs,bradley.stubbs@hotmail.co.uk,447874727898,Platinum,"Nov 29, 2023","Jul 29, 2024",active
139,Dan Jones,dan.jones_@outlook.com,447957641638,Online Coaching - STANDARD,"Nov 29, 2023","Jul 29, 2024",active
140,Marah Bahar,baharmarah@gmail.com,447568996487,Standard,"Nov 29, 2023","Jul 29, 2024",active

In [4]:
result_df = filtered_df.groupby('customer_name').sum()
result_df

,customer_email,phoneNumber,plan.interval,created,current_period_start,status
customer_name,,,,,,
Aaron Li,aaronli77@hotmail.co.uk,447487757372,Standard,"Mar 2, 2024","Aug 2, 2024",active
Adam Tossell,adamtossell@gmail.com,447769885801,Standard,"Nov 29, 2023","Jul 29, 2024",active
Advait Nair,advaitn4ir@gmail.com,447852303118,Standard,"Aug 7, 2024","Aug 7, 2024",active
Aimee Thompson,aimee6816@gmail.com,447715259969,Hybrid,"Nov 29, 2023","Jul 29, 2024",active
Aishwarya Lutchman Singh,aishwaryals2244@gmail.com,447492086067,Gold,"Dec 21, 2023","Aug 21, 2024",active
...,...,...,...,...,...,...
Thaheer Mannan,tumannan@gmail.com,447850649944,Standard,"Nov 29, 2023","Jul 29, 2024",active
The Stove Room Cardiff,carlton.chivers@gmail.com,447817625222,Standard,"Dec 29, 2023","Jul 29, 2024",active
Tom Driver,tom_driver_13@hotmail.com,447476873618,Standard,"Dec 6, 2023","Aug 6, 2024",active
Vedant Lutchman Singh,vedantlutchmansingh@gmail.com,447497379016,Gold,"Dec 2, 2023","Aug 2, 2024",active
Zimin Gu,bruce.gu1025@gmail.com,447894533756,Standard,"May 16, 2024","Aug 16, 2024",active

In [5]:
result_df.index.nunique()

105

In [6]:
with pd.ExcelWriter('wales.xlsx'):
    df.to_excel('wales.xlsx', sheet_name='raw_data')
    filtered_df.to_excel('wales.xlsx', sheet_name='filtered_data')
    result_df.to_excel('wales.xlsx', sheet_name='result_data')